html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  
}

body {
    background-color: rgb(189, 186, 186);
    overflow-x: hidden;
}


main{
    width:100%;
    height:auto;
    padding-top: 10px;
}

#searchBox {
    margin-top: 100px;
    width: 500px;
    /*background-color: green; */
    margin-left: auto;
    margin-right: auto;
}

#errorH, #errorH2 {
    height: 30px;
    width: auto;
    color: red;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#searchBox input{
    height: 50px;
    width: 500px;
    border-radius: 25px;
    border: 1px solid #E4E4E4;
    font-size: 30px;
    text-align:center;
}#searchBox input:focus{outline: none;}::placeholder{color:#C0C0C0;}

#weather {
    top:0;
    left:0;
    position: fixed;
    border-bottom-right-radius: 10px;
    background-color: #DCDCDC;
    z-index: 2;
}

#weather img{
    height: 48px;
    width: 48px;
    float: left;
}

#weather h3{
    white-space: nowrap;
    float: right;
    padding-right: 5px;
}
#cards {
    padding-top: 100px;
}
@media (min-width:1247px){
    #cards {
        display: flex;
        flex-wrap: wrap;
        margin-right: auto;
        margin-left: auto;
        min-width: 600px; 
        width: 1230px;
        height: 300;
        /*background-color: red;*/
    } 
}

@media (max-width:1246px){
    #cards {
        padding:0;
        margin:0;
        width: 100%;
        /*background-color: blue;*/
        margin-left: auto;
        margin-right: auto;
    }
    #card {
        margin: 0;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
    }

    #searchBox {
        width: 400px;
    }
    #searchBox input{
        margin-left: auto;
        margin-right: auto;
        width:100%;
    }
}

#card {
    margin: 5px;
    flex-basis: 100%;
    padding-bottom: 10px;
    max-width: 400px;
    min-width: 400px;
    height: 250px; 
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}  


#card h3 {
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 3px;
    overflow: hidden;
    color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(0, 41, 255, 0.3);
    border-color: rgba(0, 41, 255, 0.3);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: rgba(0, 41, 255, 0.3);
}

#card img {
    height: 200px;
    width: 400px;
    position: absolute;
    z-index: -1;
    border: 1px solid rgba(0, 41, 255, 0.3);
}

#card div {
    position:absolute;
    clear: both;
    max-width: inherit;
    width: 398px;
    height: auto;
    float: left;
    margin-top: 156px;
}

#card a {
    margin-left: 0px;
    text-decoration: none;
    color:  rgba(255, 255, 255, 0.5) !important;
    height: auto;
    text-transform: uppercase;
    background-color: #848ecf;
    padding: 10px;
    border-top-right-radius: 5px;
    display: block;
    float: left;
    border: 1px solid rgba(0, 41, 255, 0.3);
}#card a:hover {
    margin-top: 0px;
    color: white !important;
    background:  #848ecf;
    border: 1px solid rgba(0, 41, 255, 0.3);
    
    }

#card p{
    font-size: 19px;
    font-weight: bold;
    letter-spacing: 1px;
}    